@model CBLSummer09052016Budgeter.Models.CodeFirst.ViewModels.HouseholdIndexViewModel

<div class="content">
    <div class="page-header full-content bg-orange">
        <div class="row">
            <div class="col-sm-6">
                <h1>Household <small>add and remove users</small></h1>
            </div><!--.col-->
            <div class="col-sm-6">
                <div class="row">@Html.Partial("_LoginPartial")</div>
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Dashboard", "Home")"><i class="ion-home"></i></a></li>

                        <li><a href="#" class="active">Households</a></li>
                    </ol>
                </div>
                </div><!--.col-->
        </div><!--.row-->
    </div><!--.page-header-->
    <!-- content -->

        <div class="flexible-content">

            <div class="row">
                <div class="col-md-8">

                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title"><h2>Household Users</h2></div>
                        </div><!--.panel-heading-->
                        <div class="panel-body without-padding">

                            @foreach (var item in Model.List)
                            {
                                <ul class="list-material has-hidden">
                                    @foreach (var user in item.User)
                                    {
                                        <li class="has-action-left">
                                            <a href="@Url.Action("RemoveUser", "Households", new { id = user.Id, hid = item.Id })" class="hidden"><i class="ion-android-delete"></i></a>
                                            <a href="#" class="visible">
                                                <div class="list-action-left">

                                                </div>
                                                <div class="list-content">
                                                    <span class="title">

                                                        @if (user.DisplayName != null)
                                                        {

                                                            @Html.DisplayFor(model => user.DisplayName)

                                                        }
                                                        else
                                                        {

                                                            @Html.DisplayFor(model => user.Email)

                                                        }
                                                    </span>

                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>




                                <div class="panel-heading">
                                    <div class="panel-title"><h4>Users Not in Household</h4></div>
                                </div><!--.panel-heading-->
                                <div class="panel-body without-padding">



                                    <ul class="list-material has-hidden">


                                        @foreach (var user in Model.UserList)
                                        {

                                            <li class="has-action-left">
                                                <a href="@Url.Action("Invite", "Households", routeValues: new { id = user.Id, hid = item.Id })" class="hidden"><i class="ion-android-person-add"></i></a>
                                                <a href="#" class="visible">
                                                    <div class="list-action-left">

                                                    </div>
                                                    <div class="list-content">
                                                        <span class="title">
                                                            @if (user.DisplayName != null)
                                                            { @user.DisplayName
                                                            }
                                                            else
                                                            {
                                                                @user.Email}


                                                        </span>

                                                    </div>
                                                </a>
                                            </li>

                                        }
                                        <li class="has-action-left">
                                            <a href="@Url.Action("InviteByEmail", "Households", routeValues: new { id = item.Id})" class="hidden"><i class="ion-android-person-add"></i></a>
                                            <a href="#" class="visible">
                                                <div class="list-action-left">

                                                </div>
                                                <div class="list-content">
                                                    <span class="title">
                                                        Invite by Email
                                                    </span>

                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                    <h4>Household Member Action</h4>
                                    <ul class="list-material has-hidden">
                                        <li class="has-action-left">
                                            <a href="@Url.Action("LeaveHousehold", "Households", routeValues: new { id = item.Id})" class="hidden"><i class="ion-android-cancel"></i></a>
                                            <a href="#" class="visible">
                                                <div class="list-action-left">

                                                </div>
                                                <div class="list-content">
                                                    <span class="title">
                                                        Leave Household
                                                    </span>

                                                </div>
                                            </a>
                                        </li>

                                    </ul>



                                </div>

                            }
                        </div><!--.panel-body-->
                    </div><!--.panel-->
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title"><h2>Accounts in Household</h2></div>
                        </div><!--.panel-heading-->
                        <div class="panel-body without-padding">

                            
                            @foreach (var item in Model.List)
                            {
                                <ul class="list-material has-hidden">
                                    @foreach (var acct in item.Account)
                                    {
                                        <li class="has-action-left">
                                            <a href="@Url.Action("Delete", "Accounts", routeValues: new { id = acct.Id})" class="hidden"><i class="ion-android-cancel"></i></a>
                                            <a href="#" class="visible">
                                                <div class="list-action-left">

                                                </div>
                                                <div class="list-content">
                                                    <span class="title">
                                                        @*<a href="@Url.Action("Index", "Accounts")">*@@acct.Name:    Balance: @acct.Balance@*</a>*@
                                                    </span>

                                                </div>
                                            </a>

                                        </li>
                                    }
                                </ul>
                            }
                            </div>
                        </div>

                        </div>
                    </div>


                </div><!--.flexible-content-->

                <div class="footer-links margin-top-40">
                    <div class="row no-gutters">
                        <div class="col-xs-6 bg-cyan">
                            @*<a href="components-html5-notifications.html">
                                <span class="state">Components</span>
                                <span>HTML5 Notifications</span>
                                <span class="icon"><i class="ion-android-arrow-back"></i></span>
                            </a>*@
                        </div><!--.col-->
                        <div class="col-xs-6 bg-orange">
                            @*<a href="layout-fixed-footer-links.html">
                                <span class="state">Layouts</span>
                                <span>Fixed Footer Links</span>
                                <span class="icon"><i class="ion-android-arrow-forward"></i></span>
                            </a>*@
                        </div><!--.col-->
                    </div><!--.row-->
                </div><!--.footer-links-->
            </div><!--.content-->
