@model CBLSummer09052016Budgeter.Models.CodeFirst.Budget

    <div class="panel lime">
        <div class="panel-heading">
            <div class="panel-title">
                <h4>Add New Budget</h4>
            </div>
        </div>
        <div class="panel-body">

            @using (Html.BeginForm("Create", "Budgets", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name,"Budget Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6 col-md-offset-3">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = true } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.HouseholdId)

                    <div class="row">
                        <div class="col-sm-9"></div>
                        <div class="form-group">

                            <button type="submit" class="btn btn-floating btn-green btn-ripple"><i class="ion-android-add"></i></button>

                        </div>
                    </div>
                </div>
            }

             </div>
        </div>
